.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50vh;
  border: 1px solid rgba(255, 203, 210, 0.3);
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: default;
}

.about h1 {
  font-size: 2rem;
  font-weight: bold;
}

.about p {
  margin: 40px;
}
