.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50vh;
  width: 60vw;
  border: 1px solid rgba(255, 203, 210, 0.3);
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: default;
}

@media screen and (max-width: 600px) {
  .about {
    height: auto;
    width: 90vw;
    padding: 20px;
  }
}

.about h1 {
  font-size: 2rem;
  font-weight: bold;
}

.about p {
  margin: 40px;
}

.about a {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  font-weight: bolder;
}

.about a:hover {
  color: #e38b80;
  transition: 0.3s ease-in-out;
}
